# Note: variables that have the word "add" need to be changed to actual variables once personal env files are created.

# Server
PORT=5050
BACKEND_URL=http://localhost:5050
NODE_ENV=development

# Database (Supabase — Session Pooler URL)
DATABASE_URL=add_supabase_session_pooler_url

# JWT Auth
JWT_SECRET=add_secret_jwt_key
JWT_EXPIRES_IN=7d

# Email (used for verification and password resets)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=add_email@gmail.com
EMAIL_PASSWORD=add_chunters_password
EMAIL_FROM=noreply@chunterschat.com

# Client
CLIENT_URL=http://localhost:3000

# Accepted University Emails
ALLOWED_EMAIL_DOMAINS=ufl.edu
